
<div class="booking-wrapper">
  <!-- Left Side: Booking Details -->
  <div class="booking-container">
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
      <!-- Booking Details -->
      <div class="section">
        <h3>Booking Details</h3>

        <div class="form-group">
          <label>Booking Name <span class="error">*</span> </label>
          <input formControlName="bookingName" type="text" required />
          <div *ngIf="bookingForm.controls['bookingName'].touched && bookingForm.controls['bookingName'].invalid" class="error">
          </div>
        </div>

        <div class="form-group">
          <label>Number of People</label>
          <div class="counter">
            <button type="button" (click)="decrement()">-</button>
            <input formControlName="peopleCount" type="text" readonly />
            <button type="button" (click)="increment()">+</button>
          </div>
        </div>

        <div class="form-group">
          <label>WhatsApp Number <span class="error">*</span> </label>
          <input formControlName="whatsappNumber" type="text" required />
          <div *ngIf="bookingForm.controls['whatsappNumber'].touched && bookingForm.controls['whatsappNumber'].invalid" class="error">
          </div>
        </div>

        <div class="form-group">
          <label>Email <span class="error">*</span> </label>
          <input formControlName="email" type="email" />
          <div *ngIf="bookingForm.controls['email'].touched && bookingForm.controls['email'].invalid" class="error"></div>
        </div>

        <div class="form-group">
          <label>Occasion <span class="error">*</span> </label>
          <select formControlName="occasion">
            <option *ngFor="let occasion of occasions" [value]="occasion">
              {{ occasion }}
            </option>
          </select>
          <div *ngIf="bookingForm.controls['occasion'].touched && bookingForm.controls['occasion'].invalid" class="error"></div>
        </div>

        <div class="form-group">
          <label>Special Person Name</label>
          <input formControlName="specialPerson" type="text" />
        </div>

        <div class="form-group">
          <label>Message</label>
          <textarea formControlName="message" placeholder='Tell us what you are celebrating and if need any special decoration, cakes to make it more special. Our team will get in touch to discuss details.'></textarea>
        </div>
      </div>

      <!-- Add-ons Section -->
      <div class="section">
        <h3 style="font-size: 20px;">Make it more Special</h3>
        <div class="form-group">
          <label style="font-size: 15px;">Select a Cake</label>
          <select (change)="onCakeSelect($event)">
            <option value="">Select Cake</option>
            <option *ngFor="let cake of cakes" [value]="cake.name + '-' + cake.price">
              {{ cake.name }} - Rs. {{ cake.price }}
            </option>
          </select>
        </div>

        <div class="section">
          <p style="font-size: 15px; font-weight: bold; display: block; margin-bottom: 5px;">Special Decor</p>
          <div class="decor-grid">
            <div *ngFor="let decor of specialDecor" 
            class="decor-item" 
            (click)="toggleDecorSelection(decor, $event)"
            [ngClass]="{'selected': isSelected(decor)}" >
             
              <img [src]="decor.image" [alt]="decor.name" />
              <p>{{ decor.name }}</p>
              <p>Rs. {{ decor.price }}</p>
              <input type="checkbox" #checkbox (change)="toggleDecorSelection(decor, $event)" class="hidden-checkbox"/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Right Side: Booking Summary -->
  <div class="booking-summary">
    <h3>Booking Summary</h3>
    <p>Number of People: {{ peopleCount }} (Rs. {{ peoplePrice }})</p>

    <div>
      <p>Selected room: {{ selectedAppointment.title }} - Rs. {{ selectedAppointment.price }} for {{selectedAppointment.duration}}</p>
    </div>

    <div>
      <p>Date: {{ selectedAppointment.selectedDate }} Slot: {{ selectedSlot }}</p>
    </div>

    <div *ngIf="selectedCake">
      <p>Cake: {{ selectedCake.name }} - Rs. {{ selectedCake.price }}</p>
    </div>

    <div *ngIf="selectedDecors.length">
      <p>Special Decor:</p>
      <ul>
        <li *ngFor="let decor of selectedDecors">
          {{ decor.name }} - Rs. {{ decor.price }}
        </li>
      </ul>
    </div>

    <h4>Total Amount: Rs. {{ totalAmount }}</h4>
    <button type="button"  (click)="onSubmit()">Book</button>
  </div>
</div>

